<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PigeonPlex</title>
    <meta name="description" content="Movie Theater">
    <meta name="author" content="Sridhar Patel, Ohm Patel, Jeffano John, Aarya Patel">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/account.css') }}">
</head>
<body class="scrollbar" id="scrollbar5">
    <div class="navbar">
        <div class="left-image logo-img">
            <img src="{{ url_for('static',filename='img/logo.png') }}" alt="Left Image" id="logo">
        </div>
        <div class="right-image">
            <img src="{{ url_for('static',filename='img/accountImg.png') }}" alt="Right Image" id="account">
            <button class="logout-btn" id="logout">Logout</button>
        </div>
    </div>
    <div class="userInfo">
        <h1>Account Information</h1>
        <div class="form-container">
            <div>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
            </div>

            <div>
                <label for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName">
            </div>

            <div>
                <label for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName">
            </div>

            <div>
                <label for="phoneNumber">Phone Number: </label>
                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required>
            </div>

            <div>
                <label for="email">Email: </label>
                <input type="email" id="email" name="email">
            </div>

            <div>
                <label for="password">Password: </label>
                <input type="text" id="password" name="password">
            </div>
        </div>
        <h1>Payment Information</h1>
        <div class="form-container">
            <div>
                <label for="cardNumber">Card Number: </label>
                <input type="text" id="cardNumber" name="cardNumber">
            </div>

            <div>
                <label for="cardExpiry">Card Expiry (MM-YYYY e.g. 1/2027): </label>
                <input type="month" id="cardExpiry" min="" required>
            </div>

            <div>
                <label for="cvv">CVV: </label>
                <input type="text" id="cvv" name="cvv">
            </div>
        <button id="saveBtn" class="save-btn">Save</button>
        </div>
    </div>
    <div class="purchase" id="purchaseDiv">
        <h1 id="purchaseTitle">Purchase History</h1>
        <div class="purchaseDiv">
            <table>
                <thead>
                    <tr>
                        <th>Purchase ID:</th>
                        <th>Movie Name:</th>
                        <th>Amount ($):</th>
                        <th>Date (yyyy-mm-dd):</th>
                        <th>Refund:</th>
                    </tr>
                </thead>
                <tbody id="purchaseTable">
                </tbody>
            </table>
        </div>
    </div>
    <div class="refund" id="refundDiv">
        <h1 id="refundTitle">Refund History</h1>
        <div class="refundDiv">
            <table>
                <thead>
                    <tr>
                        <th>Purchase ID:</th>
                        <th>Movie Name:</th>
                        <th>Amount ($):</th>
                        <th>Date (yyyy-mm-dd):</th>
                    </tr>
                </thead>
                <tbody id="refundTable">
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module" src="{{ url_for('static',filename='scripts/account.js') }}"></script>
</body>
</html>